@tailwind base;
@tailwind components;
@tailwind utilities;

.h-60vh{
  height: 50vh;
}

.whatsapp {
  min-width: 50px;
  min-height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}

.error-message-form {
  margin-top: -16px;
}

.aspect-w-1>* {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}